



<div class="wrapper">
  <div class="grid">
    <% @cocktails.each do |cocktail| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('http://res.cloudinary.com/dta0lx6co/image/upload/v1522435255/vitchakorn-koonyosying-527276-unsplash.jpg');">
      <div class="card-description">
        <h2><%= cocktail.name %></h2>
      </div>
      <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
    </div>
    <% end %>
  </div>
</div>
