<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= cl_image_tag "nick-fewings-568466-unsplash", height: 50, class: "logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <%= link_to 'add new cocktail', new_cocktail_path %>
  </div>
</div>
    <!-- Links -->

